@model GestaoTerapeutica.Models.Patologia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patologia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especialidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
